header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 3.2rem;

    @include media("<phone") {
        padding: 0 1.6rem;
    }

    .logo {
        height: 2.4rem;

        &__svg {
            height: 100%;
        }
    }
}