.projects-list {
    width: 92.5%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

    @include media("<desktop") {
        width: 100%;
        max-width: 90rem;
    }

    .h2 {
        display: inline-block;
        width: 45rem;

        @include media("<lanscape") {
            width: 40rem;
        }
    }

    .project-item-link {
        width: 50rem;
        margin-bottom: 13.6rem;

        @include media("<desktop") {
            width: 42.5rem;
        }

        @include media("<tablet") {
            width: 45%;
        }

        @include media("<lanscape") {
            width: 100%;
            max-width: 42.5rem;
        }

        &__image {
            width: 100%;
            height: 0;
            padding-top: 115%;
            background-color: red;
        }

        & p {
            font-weight: 600;

            @include media("<tablet") {
                font-size: 1.6rem;
                line-height: 1.75;
            }
        }

        &:nth-child(odd) {
            margin-top: -43.6rem;

            @include media("<lanscape") {
                margin-top: 0;
            }
        }


        &:first-of-type {
            @include media("<tablet") {
                margin-left: 55%;
            }

            @include media("<lanscape") {
                margin-left: 0;
                margin-top: 13.6rem;
            }
        }

        // &:nth-child(odd) {
        //     @include media("<tablet") {
        //         margin-top: 30rem;

        //     }

        // }

        &:last-child {
            margin-bottom: 0;
        }

    }
}