.slice-image-double {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include media("<phone") {
        display: block;
    }

    &__left,
    &__right {
        width: calc(50% - 1.6rem);

        @include media("<phone") {
            width: 100%;
        }
    }

    &__right {
        @include media("<phone") {
            margin-top: 3.2rem;
        }
    }
}